/* Snitch admin page */

.column-code,
.column-state,
.column-created,
.column-postdata {
	width: 8%;
	font-family: inherit;
}

.column-duration,
.column-created {
	width: 10%;
}

.add-new-h2,
.view-switch,
#message {
	display: none;
}

.tablenav .actions:first-child,
.tablenav .actions select:first-child {
	display: none;
}

#snitch_delete_all {
	float: right;
	margin: 1px 0 0 16px;
}

#post-query-submit:first-child {
	display: none;
}

.type-snitch td {
	height: 100%;
	position: relative;
	padding-bottom: 24px;
}

.wp-list-table .no-items td {
	height: 62px;
	text-align: center;
	vertical-align: middle;
}

.type-snitch .row-actions .block,
.type-snitch .column-state .blocked {
	color: #bc0b0b;
}

.type-snitch .row-actions .unblock,
.type-snitch .column-state .authorized {
	color: #006505;
}

.type-snitch .label {
	top: -2px;
	left: 0;
	width: 4px;
	height: 100%;
	display: inline-block;
	position: absolute;
	background: #0ee162;
}

.type-snitch .label.blacklisted-1 {
	background: #d54e21;
}

.snitch-hidden {
	display: none;
}

#TB_ajaxContent pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
