/* @group Sidebar Icon */

@font-face {
	font-family: "snitchIcons";
	src: url('data:font/opentype;base64,d09GRk9UVE8AAAQ4AAsAAAAABeAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAABCAAAARUAAAEaQ6/fCkZGVE0AAAIgAAAAGgAAABxnE5vAR0RFRgAAAjwAAAAbAAAAIAAvAARPUy8yAAACWAAAAEsAAABgPilcb2NtYXAAAAKkAAAAOgAAAUrQERq3aGVhZAAAAuAAAAAxAAAANgODcD9oaGVhAAADFAAAAB0AAAAkCk0GQGhtdHgAAAM0AAAACAAAAAgNZAAobWF4cAAAAzwAAAAGAAAABgACUABuYW1lAAADRAAAAOIAAAGSt/2ac3Bvc3QAAAQoAAAAEAAAACAAAwABeJxjZGBhYWBkZORMy88rSc3JyWdgZGJgZND/IcP0Q5b5hwRLDw9jNw9zNw/L5t+cMmybfl5mlWHI4pdhYBCQYcgVlGHglGEUFGJgBmniYBBgkCjOyUxO1TWGGQc3loGBsZ2BiZGRZf6vGr5fhd9/ij69evXp06uOhoaOIHz1qdzvjd8VRP/qfI/v/i7+c313t+X33u7uu1e6Wb8XdH/3+a118HfC4cZtkd3+3f4JUcENob8TfgNFfxd0/57V/Tvje0b391ndeybtmrmd45fRbwXR7rKuso6yhdNnL+5e1r2senHp9L6ynvLuUo6/7mK/uV5rf+f6zvXmNYjUevOb6zeXttZvLjk+oB9FukW7ebgAUrpyhwAAAHicY2BgYGQAgpOd+YYg+txRMXcYDQBAlwXUAAB4nGNgZGBg4ANiCQYQYGJghEIWMI8BAARVADQAeJxjYGbbxDiBgZWBg6mLaQ8DA0MPhGZ8wGDIyMTAwMTAyswABwIIJkNAmmsKg8MLhhcMzEH/sxiimO0ZSoHCjHAFCkDICAB+cAwpAHicY2BgYGaAYBkGRgYQcAHyGMF8FgYNIM0GpBkZmBgYXjD8/w9SAKElGKHqgYCRjQHBGaEAAGTHBq8AAHicY2BkYGAAYoe2Dpl4fpuvDNzML4AiDOeOinnAaY3/3WybmO2BXA4GJpAoACrQCpoAAAB4nGNgZGBgtv/fzRDFtokBCIAkIwMqYAIAXyYDmwAAAAayAAAGsgAoAABQAAACAAB4nH2OPU7DQBCFPydOQgRCiIKGZot0yNbaSZUDRNQU6VNsrEiWV9okZa7BATgDLcfgAJyBC/AchoYiOxrNt09vfoAbXsnoX8YV98YDJjwZD5lxMs7leTcecc2n8Vj6t5xZPpVyd+7qecAtj8ZDnpkb5/K8GY944MN4LP2LLZGOA4FWEWEbu0NoW9GLxIaj5A1J39Ac241gZS19TXIEHDUlXnWp/D/yV11QUMlXKL1orkFatYqpCa4uvVu6v9XCRVHVRe0ruS5cuJaY2LM7W5ym9lewDmm/i52rSn+p/QeCnz2XAAB4nGNgZkAGjAxoAAAAjgAF') format('woff');
}

#adminmenu #menu-posts-snitch .wp-menu-image:before {
	content: '\e800' !important;
	font-size: 12px !important;
	line-height: 20px !important;
	font-family: "snitchIcons" !important;
}

/* @end group */